body {
  background-color: grey;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.guns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.rps {
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.rock {
  background-image: url("/img/rock.jpg");

  background-size: cover;
}
.paper {
  background-image: url("/img/paper.jpg");
  background-size: cover;
}
.scissors {
  background-image: url("/img/scissors.jpg");
  background-size: cover;
}
.score {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
